body {
	overflow-x: hidden;
}

.card-img-top {
	width: 80px;
	height: 110px;
	margin: 10px;
	border: none;
}
.card {
	border: none;
}
#text {
	display: inline-block;
	text-align: left;
}
#krug {
	max-width: 100%;
	width: 10em;
	height: 15em;
}
h1 {
	color: #554d90;
	font-size: 3.5rem;
}
p {
	color: gray;
}
#button {
	border-radius: 18px;
	transition-duration: 0.4s;
	color: #fcab24;
}
#button:hover {
	background-color: #fcab24; /* Green */
	color: white;
}

@media (max-width: 1200px) {
	.card {
		margin-top: 4rem;
	}
}
@media (max-width: 992px) {
	#text {
		display: inline-block;
		text-align: center;
	}
}
@media (max-width: 1200px) {
	#head {
		font-size: 3rem;
	}
}
